body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.credits p{
  width: fit-content;
  background-color: #222;
  color:#555;
  font-family: Arial, sans-serif;
  margin:auto;
  padding: 5px;
  text-align: right;
  font-size: xx-small;
}

.credits p:hover{
  font-size: larger;
}
/*
.ig{
  position: absolute;
  bottom: 15px;
  left:97%;
  background-color:#222 ;
}

.ig i{
  font-weight: 600;
  font-size:xx-large;
}

.ig i:hover{
  font-size: 5vh;
}

.ig a {
  color: #ffffffc6; //Set the link color 
}

.ig a:hover {
  color: #52bdff; // Set the link color on hover 
}
*/

.glass{
  padding: 5%;
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px rgba(0,0,0,0.37);
}


.container {
  max-width: 600px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  box-sizing:content-box;
}

.container h1{
  text-align: center;
  font-weight: 900;
  font-size:7vh;
  color:darkcyan;
}

.container h2{
  text-align: justify;
  color:#fff
}

.container h2:hover{
  color: #ffffffc6;
}

h1, h2 {
  color: #fff;
}

input[type="text"], button {
  font-weight: 1000;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width:100%;
  box-sizing:border-box;
  transition: background-color 0.3s;
}

input[type="text"]:hover{
  font-weight: 1000;
  color:#000;
  background-color: #fff;
}

.Inp{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 10px;

}

.text{
  width:fit-content;
  display: flex;
  flex-direction: wrap;
  gap: 10px;
  margin-top: 10px;
}


.add{
  max-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 10px;

}

button {
  font-weight: bolder;
  cursor:pointer;
  transition: background-color 0.3s;
}

button:hover{
  font-weight: bolder;
  color: rgb(28, 28, 28);
  background-color: rgb(133, 128, 128);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

#taskList li {
  border-bottom: 1px solid #555;
}

#completedList li {
  text-decoration: wavy;
  color:rgba(218, 255, 124, 0.438);
}

.button-container {
  display: flex;
  min-width: fit-content;
  flex-direction: row;
  justify-content:space-around;
  gap: 10px;
  margin-top: 10px;
}




@media screen and (max-width: 410px) {
  .container {
    padding: 10px;
  }
  
  input[type="text"], button {
    padding: 8px;
  }
  
  .button-container {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }
  
  #selectAllButton {
    padding: 8px;
  }
}